*{
    margin: 0px;
    padding: 0px;
}
.nav-bar{
    display: flex;
    justify-content: space-around;
    background-color:rgb(52, 49, 49);
    color: white;
    padding: 12px;
}
.menus{
    display: flex;
    list-style: none;
}
.item{
    color: white;
    margin-right: 17px;
    padding: 5px;
    font-size: 18px;
}
.logo{
    background-color: rgb(30, 28, 28);    
    width: 100px;
    padding: 5px;
}
