*{
    margin: 0px;
    padding: 0px;
}
.nav-bar{
    display: flex;
    justify-content: space-around;
    background-color:rgb(52, 49, 49);
    color: white;
    padding: 12px;
}
.menus{
    display: flex;
    list-style: none;
}
.item{
    color: white;
    margin-right: 17px;
    padding: 5px;
    font-size: 18px;
}
.logo{    
    width: 100px;
    padding: 5px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: 100vh;
    background-image: url("./images/background.png"),linear-gradient(45deg, rgb(16, 16, 16), #2e2e2e);
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
}
.photo{
    width: 300px;
}
.title{
    font-size: 54px;
    font-weight: bold;
}
.description{
    font-size: 18px;
    margin-top: 15px;
}
.btn{
    margin-top: 20px;
    padding: 13px 20px;
    background-color: red;
    border-radius: 3px;
    color: white;
    border: none;
    outline: none;
}